#topOfPage{
  display: flex;
  justify-content: space-between;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 60rem;
  height: 40rem;
  border-radius: 0.5rem;
  overflow-x: hidden; 
  overflow-x: auto; 
}

#modalCampaignCards{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 50px 100px;
  margin-top: 2rem;
}

.new-campaign-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 30rem;
  height: 20rem;
  border-radius: 0.5rem;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.close-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

#campaignCard{
  width: 15rem;
  background-color:rgb(238, 238, 238);
  border-radius: 8px;
}

#campaignImage{
  width: inherit;
}

#campaignTitle{
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
  margin-bottom: -6px;
}

#modalCardContainer{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px 20px;
  margin-top: 2rem;
  justify-content: center;
}

#cardContainer{
  width: 220px;
  height: 340px;
  background-image: url("../images/blankCardBackground.jpg");
  border-radius: 8px;
  background-position: center;
  background-size: cover;
}

#cardName{
  justify-content: center;
    display: flex;
    padding-top: 3px;
    margin-bottom: 4px;
}

#cardImage{
  padding-left: 10px;
  width: 200px;
  height: 147px;
}

#shortDescription{
  padding-left: 12px;
  padding-top: 5px;
  width: 195px;
  height: 90px;
}