::-webkit-input-placeholder {
  text-align: center;
}

#topOfPage{
  
  padding: 1rem;
}

#loginForm{
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
}

#createNewUserButton{
  position: relative;
  left: 30px;
}

#newUserForm{
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
}

#cancelCreateNewUserButton{
  position: relative;
  left: 45px;
}